@model List<Ecommerce.Domain.Model.SanPham>

<section id="recently-reviewd" class="wow fadeInUp">
    <div class="container">
        <div class="carousel-holder hover">

            <div class="title-nav">
                <h2 class="h1">Sản phẩm vừa xem</h2>
                <div class="nav-holder">
                    <a href="#prev" data-target="#owl-recently-viewed" class="slider-prev btn-prev fa fa-angle-left"></a>
                    <a href="#next" data-target="#owl-recently-viewed" class="slider-next btn-next fa fa-angle-right"></a>
                </div>
            </div>
            <div class="product-grid-holder medium">
                <div class="col-xs-12 col-md-12 no-margin">
                    <div id="owl-recently-viewed" class="row no-margin owl-carousel owl-viewed">
                        @foreach (var item in Model)
                        {
                            <div class="carousel-item product-item-holder size-medium hover">
                                @Html.Partial("_ProductGridShowPartal", item)
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<script>
    $(function () {
        $("#owl-recently-viewed").owlCarousel({
            stopOnHover: true,
            rewindNav: true,
           
            pagination: false,
            items: 5, //10 items above 1000px browser width
            itemsDesktop: [1000, 5], //5 items between 1000px and 901px
            itemsDesktopSmall: [900, 3], // betweem 900px and 601px
            itemsTablet: [600, 2], //2 items between 600 and 0;
            itemsMobile: false // itemsMobile disabled - inherit from itemsTablet option
        });
    })
</script>