@{
    Layout = "~/Views/Shared/_LayoutFrontEnd.cshtml";
}
<section id="category-grid">
    <div class="container">
        <!-- ========================================= SIDEBAR ========================================= -->
        <div class="col-xs-12 col-sm-3 no-margin sidebar narrow">
            @Html.Action("ProductFilter", "SideBar")
            @Html.Action("GiamGiaNhieu", "SideBar")
        </div>
        <!-- ========================================= SIDEBAR : END ========================================= -->
        <!-- ========================================= CONTENT ========================================= -->
        <div class="col-xs-12 col-sm-9 no-margin wide sidebar">
            @RenderBody()

        </div>


        <!-- ========================================= CONTENT : END ========================================= -->
    </div>

</section>