@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_LayoutFrontEnd.cshtml";
}
<div class="container">
    <div class="col-xs-12 no-margin">
        @Html.Raw(WebUtility.HtmlDecode(Model.Value))
    </div>
</div>


